# Compiled Python files
__pycache__/
*.pyc

# Logs
*.log

# Virtual environment
venv/
.env

# Local development
*.sqlite
*.db

# IDE-specific files and directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configuration files
config.py
instance/

# Dependency management
pip-lock.txt
